.top-row {
    margin-bottom: 25px;
}

.recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: -3px;
        color: #88B9DC;
        &:hover {
            color: #0AC7E5;
        }
    }
}

.artikelen-wrapper {
    background-color: #114367;
    height: 100%;
    color: white;
    padding: 80px 0px 80px 0px;
    h2 {
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .uitgelicht {
        margin-bottom: 30px;
    }
    .top-col {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .artikelen-wrapper {
        padding: 30px 0px 30px 0px;
        h2 {
            font-size: 20px;
        }
    }
    .uitgelicht {
        margin-bottom: 30px;
    }
    .top-col {
        margin-bottom: 25px;
    }
    .recent {
        display: block;
        margin: 20px 0px;
    }
    .uitgelicht-wrapper {
        padding: 40px 0px 40px 0px;
    }
    .recent {
        margin-bottom: 10px;
    }
}