    .music-player {
        border: 1px solid #E6F1F8;
        border-radius: 8px;
        height: auto;
        width: auto;
        margin: 15px 0px 10px 0px;
        padding: 10px 25px 10px 17px;
        display: flex;
    }
    
    .timings {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 400;
    }
    
    .play-button {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        margin-top: 12px;
        button {
            background-color: white;
            border: none;
        }
        #play-button {
            background-color: #45BBAF;
            color: white;
            padding: 14px;
            border-radius: 8px;
            box-shadow: 0px 4px 0px #2E7D75;
            &:hover {
                box-shadow: none;
                position: relative;
                top: 3px;
            }
        }
    }
    
    .slider-container {
        width: 100%;
        .time-slider {
            margin-top: 5px;
        }
        .volume-slider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -15px;
            margin-left: -5px;
        }
    }
    
    .action-icons {
        display: flex;
    }
    
    .music-action-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .play-recent {
            font-size: 14px;
            font-weight: 300;
            color: #114367;
            text-decoration: underline;
            background-color: white;
            border: none;
            margin: 0;
            transition: 0.1s ease-in-out;
            span {
                &:hover {
                    font-weight: 500;
                }
            }
            #play {
                background-color: #114367;
                color: white;
                padding: 4px;
                border-radius: 3px;
                margin: 0px 5px 0px -3px;
                position: relative;
                top: -1px;
            }
        }
        #question-circle:hover {
            transition: 0.1s ease-in-out;
            color: #7C98AC;
        }
    }
    
    .action-button {
        color: #114367;
        background-color: white;
        border: none;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
        transition: .1s ease-in-out;
        #download,
        #share,
        #bookmark2 {
            margin-right: 3px;
        }
        &:hover {
            color: #1274BA;
            text-decoration: underline;
        }
    }
    
    .delen-wrapper {
        &:hover {
            text-decoration: underline;
        }
        .popover-content {
            visibility: hidden;
            display: none;
            position: absolute;
            z-index: 10;
            background-color: white;
            display: block;
            padding: 10px 20px 0px 20px;
            border-radius: 3px;
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.16);
            transition: 0.2s ease-in-out;
            .mail:hover,
            .whatsapp:hover,
            .facebook:hover,
            .twitter:hover,
            .linkedin:hover {
                text-decoration: underline;
            }
            a {
                font-size: 13px;
                font-weight: 300;
                color: #3C617D;
                #share {
                    margin-right: 6px;
                    position: relative;
                    top: -1px;
                }
                #linkedin {
                    margin-right: 6px;
                    position: relative;
                    top: -2px;
                }
            }
        }
        &:hover {
            .popover-content {
                visibility: visible;
                display: flex;
            }
        }
    }
    
    @media (max-width: 576px) {
        .music-player {
            margin-top: 40px;
            border: none;
            padding: 0px;
        }
        .music-action-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .play-recent-button {
                display: block;
                margin-bottom: 20px;
            }
            .action-icons {
                display: flex;
            }
        }
        .slider-container .volume-slider {
            margin-top: 0px;
        }
        .slider-container .volume-slider .timer .timings {
            font-size: 12px;
            display: block;
            width: 65px;
            margin-left: 10px;
        }
        .delen-wrapper {
            .popover-content {
                width: 100%;
                font-size: 9px;
            }
        }
    }
    
    @media (max-width: 350px) {
        .slider-container {
            width: 70%;
        }
    }