    .card-big {
        height: 100%;
        margin-top: -60px;
        width: auto;
        border-radius: 8px;
    }
    
    .buttons {
        z-index: 999;
        position: relative;
        top: 260px;
        display: flex;
        justify-content: space-between;
        .slider-btn {
            color: white;
            border-radius: 3px;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
            width: 40px;
            height: 60px;
            background-color: #45BBAF;
            border: none;
            transition: 0.2s ease-in-out;
            &:hover {
                background-color: #1C5D76;
            }
        }
        .previous {
            position: relative;
            left: -10px;
        }
        .next {
            position: relative;
            right: -10px;
        }
    }
    
    .card-big-text {
        color: #114367;
        background-color: white;
        border-radius: 0px 0px 8px 8px;
        padding: 20px 30px 10px 30px;
        cursor: pointer;
        .date {
            font-size: 13px;
            font-weight: 400;
            color: #1274BA;
            margin-top: -10px;
            #calendar {
                position: relative;
                top: -2px;
                margin-right: 5px;
            }
        }
        h2 {
            margin-top: 5px;
            font-size: 22px;
            line-height: 27px;
            font-weight: 700;
        }
        p {
            font-size: 15px;
            line-height: 24px;
            color: #3C617D;
        }
    }
    
    .card-big-image {
        width: auto;
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;
        #card_image {
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    
    @media (max-width: 992px) {
        .buttons {
            top: 140px;
        }
    }
    
    @media (max-width: 768px) {
        .buttons {
            top: 240px;
        }
    }
    
    @media (max-width: 576px) {
        .card-big-image {
            margin-top: 10px;
        }
        .card-big-text {
            padding: 10px 20px 5px 20px;
        }
        .buttons {
            top: 230px;
            #left {
                scale: 0.8;
            }
            #right {
                scale: 0.8;
            }
            .slider-btn {
                width: 32px;
                height: 47px;
            }
            .previous {
                left: -5px;
            }
            .next {
                right: -5px;
            }
        }
    }