// MAIN //
#backgroundmain {
    background-size: cover;
    background-repeat: no-repeat;
}

#mainimage {
    height: 300px;
    width: auto;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 66px;
}

.text-wrapper {
    padding: 66px 0px 90px 0px;
    h1 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 800;
        color: #114367;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #3c617d;
        margin-bottom: 35px;
    }
    .button {
        background-color: #1274BA;
        color: white;
        box-shadow: 0px 3px 0px #114367;
        font-size: 16px;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        padding: 6px 12px 6px 14px;
        &:hover {
            box-shadow: none;
            position: relative;
            bottom: -3px;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}

// ARTICLES //
.top-row {
    margin-bottom: 25px;
}

.recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: -3px;
        color: #88B9DC;
        &:hover {
            color: #0AC7E5;
        }
    }
}

.artikelen-wrapper {
    background-color: #114367;
    height: 100%;
    color: white;
    padding: 80px 0px 80px 0px;
    h2 {
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

//Tablet//
@media (max-width: 768px) {
    //MAIN//
    #mainimage {
        margin: -30px 0px 0px 0px;
        height: 300px;
        width: auto;
    }
    .image-wrapper {
        justify-content: center;
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 0px;
        h1,
        p {
            text-align: center;
        }
        .button {
            margin: auto;
        }
    }
    //ARTICLE//
    .uitgelicht {
        margin-bottom: 30px;
    }
    .top-col {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    //MAIN//
    #backgroundmain {
        background-size: cover;
    }
    #mainimage {
        height: 200px;
        width: auto;
        margin-bottom: -50px;
    }
    .text-wrapper {
        padding-top: 50px;
        h1 {
            font-size: 26px;
            line-height: 32px;
        }
        p {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .button {
            margin-bottom: -20px;
        }
    }
    //ARTICLE//
    .artikelen-wrapper {
        padding: 30px 0px 30px 0px;
        h2 {
            font-size: 20px;
        }
    }
    .uitgelicht {
        margin-bottom: 30px;
    }
    .top-col {
        margin-bottom: 25px;
    }
    .recent {
        display: block;
        margin: 20px 0px;
    }
    .uitgelicht-wrapper {
        padding: 40px 0px 40px 0px;
    }
    .recent {
        margin-bottom: 10px;
    }
}