#root header {
    background-color: white;
    .top-bar {
        background-color: #1274BA;
        a {
            font-size: 13px;
            line-height: 24px;
            font-weight: 500;
            color: white;
            text-decoration: none;
        }
    }
    .navigation {}
}